@charset "UTF-8";

/* ==========================================================
Name:
    base.css

Description:
    サイト全体に共通する設定を記述する

Contents:
    base settings
    javascript style hooks
    base blocks
========================================================== */

// ---------------------------------------------
//   import partial
//----------------------------------------------
@import "config";
@import "partial/_clearfix.scss";
@import "partial/_container.scss";
@import "partial/_hover-opacity.scss";
@import "partial/_hover-underline.scss";
@import "partial/_pxtorem.scss";
@import "partial/_pxtovw.scss";


/* ==========================================================
*
*   base settings
*
========================================================== */
@import "base/base";

/* ==========================================================
*
*   javascript style hooks
*
========================================================== */
// @import "base/js-hook";

/* ==========================================================
*
*   base blocks
*
========================================================== */
// @import "base/header";
// @import "base/wrapper";
// @import "base/global-nav";
// @import "base/contents";
// @import "base/main";
// @import "base/breadcrumb";
// @import "base/sidebar";
// @import "base/footer";


$fonts:Arial,"Hiragino Kaku Gothic Pro W3",Meiryo,sans-serif;
$web_fonts:'Montserrat', sans-serif;
$bg_color:#e2e1e0;;
$font_color:#999;
$link_color:#999;
$link_hover_color:#777;

* {
  &:before,
  &:after{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }
}
body{
  font-family:$fonts;
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}

h1{
  font-size:36px;
  font-family:$web_fonts;
  color:#53E2E4;
  margin:10px auto 30px;
}

.grid {
  position: relative;
  max-width:100%;
  margin:0 auto;
  ul {
    position: relative;
  }
}
.item {
  display: block;
  position: absolute;
  width:320px;
  height:240px;
  margin: 5px;
  z-index: 1;
  // cursor:move;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &.blue{
    .custom-content{
      // border-color:#0CAAF5;
      // color:#0CAAF5;
    }
  }
  &.red{
    .custom-content{
      // border-color:#F54487;
      // color:#F54487;
    }
  }
  &.green{
    .custom-content{
      // border-color:#00DE73;
      // color:#00DE73;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  display:table;
}
.custom-content{
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  background: #fff;
  color: #666;
  // border:2px solid;
  // border-radius:3px;
}

// If use dragging
.item.muuri-item-dragging {
  z-index: 3;
}

@media ( max-width : 877px ){
  .item{
    width:calc(33.33% - 11px);
    height:calc(33.33vw - 11px);
    &.w2{
      width:calc(33.33% - 11px);
    }
    &.h2{
      height:calc(33.33vw - 11px);
    }
  }
}
@media ( max-width : 640px ){
  .item{
    width:calc(50% - 10px);
    height:calc(50vw - 10px);
    &.w2{
      width:calc(50% - 10px);
    }
    &.h2{
      height:calc(50vw - 10px);
    }
  }
}

.popup-content {
  display: none;
  position: absolute;
}

// .grid {
//   animation: loop 50s linear infinite;
// }

// @keyframes loop {
//   0% {
//     transform: translate(10%,100%);
//   }
//   to {
//     transform: translate(-10%,-100%);
//   }
// }


// .grid li:last-child {
//   animation: loop2 50s linear infinite;
// }

// .item {
//   animation-play-state: paused;
// }


/* ---------------------------------------------
*   modal
--------------------------------------------- */
.item-content {
  cursor: pointer;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
  display: none;

  .modal-content {
    display: none;

    &.modal-content_visible {
      display: block;
    }
  }

  &.modal_visible {
    display: flex;
  }

  .modal-inner {
    background-color: #fff;
    margin: auto;
    height: 90%;
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  .btn_close {
    font-size: 30px;
    font-weight: bold;
    background-color: pink;
    cursor: pointer;
    margin: 0 auto;
    line-height: 1;
    padding: 30px;
  }
}
