@charset "UTF-8";

/* ==========================================================
Name:
    base.css

Description:
    サイト全体に共通する設定を記述する

Contents:
    base settings
    javascript style hooks
    base blocks
========================================================== */

// ---------------------------------------------
//   import partial
//----------------------------------------------
@import "config";
@import "partial/_clearfix.scss";
@import "partial/_container.scss";
@import "partial/_hover-opacity.scss";
@import "partial/_hover-underline.scss";
@import "partial/_pxtorem.scss";
@import "partial/_pxtovw.scss";


/* ==========================================================
*
*   base settings
*
========================================================== */
@import "base/base";

/* ==========================================================
*
*   javascript style hooks
*
========================================================== */
// @import "base/js-hook";

/* ==========================================================
*
*   base blocks
*
========================================================== */
// @import "base/header";
// @import "base/wrapper";
// @import "base/global-nav";
// @import "base/contents";
// @import "base/main";
// @import "base/breadcrumb";
// @import "base/sidebar";
// @import "base/footer";


$fonts:Arial,"Hiragino Kaku Gothic Pro W3",Meiryo,sans-serif;
$web_fonts:'Montserrat', sans-serif;
$bg_color:#fafafa;
$font_color:#262626;
$link_color:#999;
$link_hover_color:#777;
$border-color:#dbdbdb;

* {
  &:before,
  &:after{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }
}
body{
  font-family:$fonts;
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}

header {
  background-color: #fff;
  height: 7vh;
  display: flex;
  border-bottom:1px solid $border-color;
  // margin-bottom: 4vh;
  width: 100%;
  position: fixed;
  h1{
    font-size:20px;
    font-family: 'Ubuntu', sans-serif;
    color:#333333;
    align-self: center;
    margin: 0 auto;
  }
}

.grid {
  padding-top:11vh;
  margin: 0 auto;
  width: 960px;
  text-align: left;
  .item {
    margin-bottom: 4vh;
    .item-wrapper {
      display: flex;
      // margin-right: 1em;
      .pic-wrapper {
        margin-right: 1em;
        width: 700px;
        max-height: 1000px;
        overflow: hidden;
      img {
        width: 100%;
        height: auto;
        }
      }
      .item-content {
        align-self: flex-end;
        width: 244px;
          h2 {
            text-align: left;
            font-weight: bold;
            font-family: 'Ubuntu', sans-serif;
            line-height: 1.5;
            font-size: 1rem;
          }
          h3{
            font-family: 'Ubuntu', sans-serif;
            line-height: 1.5;
            font-size: 1rem;
          }
          p {
            text-align: left;
            font-family: 'Ubuntu', sans-serif;
            line-height: 1.25;
            font-size: 1rem;
          }
        }
      }
    }
  }
  .pc-hide {
    display: none !important;
  }
  .sp-hide {
    display: inline !important;
  }


 @media ( max-width : 750px ){
  header {
    background-color: #fff;
    height: 7vh;
    display: flex;
    border-bottom:1px solid $border-color;
    // margin-bottom: 4vh;
    width: 100%;
    position: fixed;
    h1{
      font-size:20px;
      font-family: 'Ubuntu', sans-serif;
      color:#333333;
      align-self: center;
      margin: 0 auto;
    }
  }
  
  .grid {
    padding-top:11vh;
    margin: 0 auto;
    width:100%;
    text-align: left;
    .item {
      margin-bottom: 4vh;
      .item-wrapper {
        display: block;
        .pic-wrapper {
          margin-bottom: 1em;
          width: 100%;
          max-height: 33vh;
          overflow: hidden;
        img {
          width: 100%;
          height: auto;
          }
        }
        .item-content {
          align-self: flex-end;
          width: 100%;
          padding-bottom: 3em;
            h2 {
              text-align: left;
              font-weight: bold;
              font-family: 'Ubuntu', sans-serif;
              line-height: 1.5;
              font-size: 2rem;
              padding: 0 1em;
            }
            h3{
              font-family: 'Ubuntu', sans-serif;
              line-height: 1.5;
              font-size: 2rem;
              padding: 0 1em;
              margin-bottom: 0.5em;
            }
            p {
              text-align: left;
              font-family: 'Ubuntu', sans-serif;
              line-height: 1.25;
              font-size: 2rem;
              padding: 0 1em;
            }
          }
        }
      }
    }
  .pc-hide {
    display: inline !important;
  }
  .sp-hide {
      display: none !important;
    }
 }